.div_principal{
    margin: auto;
    width: 90%;
    padding: 10px;
    display: flex;     
    flex-direction: column;       
    align-items: center;     
    justify-content: center; 
    border: 3px black;
    height: 90vh;
}

.div_link{
    padding-top:10px;
}